.header {
   padding: 2%;
}

.loading {
   font-size: 1.3em;
   margin-top: 2%;
}

.container {
   width: 55%;
   margin: auto;
   padding-bottom: 2%;
}

.list {
   text-align: left;
}

.item {
   padding: 1%;
}

@media (max-width: 700px) {
   .container {
      width: 85%;
   }
}

p {
   font-size: 1.3em;
}